# Entorno virtual
env/
#entorno virutal fran
venv/

# Archivos y directorios de configuraciones y caché
*.log
__pycache__/
*.pyc
*.pyo

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos temporales de sistemas operativos
.DS_Store    # macOS
Thumbs.db    # Windows

# Archivos de configuración sensibles (si los tienes)
.env
